@media screen and (max-width:900px) {
    .container{ 
        width:100%;
        padding-left: 14px;
        padding-right: 14px;
        box-sizing: border-box;
    }
    .porfolio-list{
        gap:0;
    }
    .porfolio-list li {
        width: 100%;
    }    
}


@media (max-width: 600px) {
    
    .menu-icon{
        display: block;
    }
    nav{
        position:relative;
        height: auto;
        padding: 6px 0 0;
    }
    .social-menu{
        position:absolute;
        right: 15px;
        top: 5px;
    }
    nav .container{
        padding-right: 0;
        padding-left: 0;
    }
    nav > div{
        flex-direction: column;
        align-items: start;
    }
    nav .main-menu{
        background: #333;
        flex-direction: column;
        margin-top: 6px;
        width: 100%;
        gap:0;
        padding-left: 14px;
        height: 0;
        overflow: hidden;
        transition: height 0.5s ;
    }
    nav .main-menu.active{
        height: 160px;
    }
    nav .main-menu li a{
        display: block;
        line-height: 40px;
    }
    .feature .container{
        padding: 0;
    }
    .feature ul{

        flex-direction: column;
        background: none;
    }
    .feature li{
        height: 120px;
        justify-content: start;
        border-right: none;
        border-bottom:1px solid #fff;
        padding-left: 14px;
        background: url(../images/feature-bg.jpg) no-repeat;
    }
    .feature li a{
        flex-direction: row;
    }
    .feature li:first-child{
        border-left: none;
    }
    .feature li:nth-child(2){
        background-position: center ;
    }
    .feature li:last-child{
        border: none;
        background-position: right bottom;
    }
    .porfolio-list{
        flex-direction: column;
        gap: 20px;
    }
    .footer-contents {
        display: flex ;
        flex-direction: column;
    }
}